# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.sdf

# Executables
*.exe
*.out
*.app
*.opensdf
*.pdb
*.suo
serverrelease/
clientrelease/
serverdebug/
clientdebug/
debug/
release/
*.opendb
*.tlog
Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText_StaticLib.log
*.log
*.log
Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText_StaticLib.log
